<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SampleAppMakingAndTesting.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2E07EE382AA7070A001D7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E07EE4E2AA7070A001D7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E07EE582AA7070A001D7F49</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
